fastapi
uvicorn
sqlalchemy
pydantic
transformers
torch
PyMuPDF
pytesseract
Pillow
python-multipart
rispy
bibtexparser
beautifulsoup4
scikit-learn
matplotlib
seaborn
nltk
imbalanced-learn
sentence-transformers
xgboost
joblib
